.vl {
  border-left: 1px solid black;
  height: 65px;
}

h4 {
  color: #00303F;
}

.btn {
  width: 50%;
  margin-top: 30px;
  font-size: large;
}

#sub {
  margin-top: 10px;
  background-color: rgb(74, 138, 202);
}

.card {
  background-color: rgb(222, 236, 249);
}

#row {
  background-color: rgb(222, 236, 249);
}

h2,
h4 {
  color: rgb(0, 48, 62);
}

a{
  text-decoration: None;
  color: white;
}