body{
    width: 80%;
    margin: auto;
    height: 100vh;
}
h1{
    text-align: center;
}
section{
    background-color: gray;
}
table tr th{
    text-align: left;
    background-color: green;
}
table{
    width: 100%;
}
pre{
    font-style: italic;
}
a{
    color: blue;
}